.faq {
    margin: 1rem;
    /* background-color: #ddd; */
    background-color: #efecec;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem .1rem #2c2c2c;
}

.faq div {
    display: flex;
    justify-content: space-between;
}

.faq-title {
    font-size: 22px;
}
.faq-desc{
    font-size: 17px;
}



@media screen and (max-width:992) {}

@media screen and (max-width:768px) {
    .faq-desc {
        font-size: 16px;
    }
}


@media screen and (max-width:575px) {
    .faq-title {
        font-size: 20px;
    }
}

@media screen and (max-width:420px) {
    .faq-title {
        font-size: 16px;
    }
    .faq {
        padding: 0.7rem;
    }
    .faq-desc {
        font-size: 15px;
    }
}