.container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(128, 128, 128); */
    padding: 1rem;
}


.faqs {
    width:50rem;
    max-width: 100%;
    background-color:white;
    /* background-color:#ededed; */
   border-radius: 0.6rem;
   padding: 1rem;
}

h1{
    text-align: center;
}
/* .faq {
    background-color: #4c4c4c;
    margin: 1rem 0;
    padding: 0.6rem;
    border-radius: 0.6rem;
}
.title {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
} */
