.single-yogi-card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 10px;
    background-color: #efefef;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.yogi-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.addList-btn {
    background-color: blue !important;
    color: #fff !important;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;
}
.addList-btn:hover{
    background-color: tomato !important;
    color: #fff !important;
}

.yogi-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.single-yogi-card-details {
    margin-top: 20px;
}
.card-details-time{
    font-weight: 700;
}
.card-details-time-span{
    font-weight: normal;
}
.yogi-desc{
    font-size: 17px;
}


/* responsive */
@media screen and (max-width:768px){
    .single-yogi-card-details {
        margin-top: 15px;
    }
    .yogi-desc {
        font-size: 15px;
    }
    .yogi-title {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .addList-btn {
        margin-top: 0px;
    }
}

