.yoga-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 30px;
}



@media screen and (max-width:768px){
    .yoga-container {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:575px){
    .yoga-container {
        grid-template-columns: auto;
    }
}




