.container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.faqs {
    width:50rem;
    max-width: 100%;
    background-color:white;
   border-radius: 0.6rem;
   padding: 1rem;
}

h1{
    text-align: center;
}
.faqs-heading{
    font-size: 35px;
}

/* responsive */
@media screen and (max-width:768px) {
    .faqs-heading {
        font-size: 32px;
    }
    .container{
        max-width: 700px;
    }
}

@media screen and (max-width:575px) {
    .faqs-heading {
        font-size: 28px;
    }
}

@media screen and (max-width:420px) {
    .faqs {
        padding: 0.7rem;
    }
    .faqs-heading {
        font-size: 25px;
    }
}
